.btn-link, .btn-normal {
    width: 239.99px;
    // height: 42px;
    padding: 10.5px 0 8px;
    border-radius: 21px;
    font-size: 14px;
    font-family: var(--font-extra-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}