@font-face {
  font-family: Muller-Medium;
  src: url("/fonts/MullerMedium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller-Bold;
  src: url("/fonts/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller-ExtraBold;
  src: url("/fonts/MullerExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller-Black;
  src: url("/fonts/MullerBlack.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller-Regular;
  src: url("/fonts/MullerRegular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ADLMounTiane;
  src: url("/fonts/ADLMounTiane.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Otella;
  src: url("/fonts/Otella.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}