#banner {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 190px;
  position: relative;
}
#banner .light-image {
  width: 100%;
  height: 100%;
  background-image: url("/images/light.png");
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner .banner-carousel .owl-dots {
  position: absolute;
  bottom: -300px;
  left: 5%;
  display: flex;
  align-items: center;
}
#banner .banner-carousel .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}
#banner .banner-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--color-primary);
}
#banner .banner-carousel .owl-dots .active span {
  width: 17.99px;
  height: 8.99px;
  background-color: var(--color-primary);
}
#banner .banner-carousel .owl-nav {
  position: absolute;
  right: 5%;
  bottom: -315px;
  pointer-events: none;
}
#banner .banner-carousel .owl-nav button {
  margin: 0 10px;
  pointer-events: all;
}
#banner .banner-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}
#banner .headers .offer {
  margin-top: 260px;
}
@media (max-width: 991px) {
  #banner .headers {
    text-align: center;
  }
  #banner .headers .yellow {
    line-height: 16px;
  }
}
#banner .headers .description {
  color: var(--color-primary-contrast);
  font-size: 20px;
  font-family: var(--font-regular);
  display: flex;
  flex-direction: column;
  line-height: 32px;
  margin-top: 30px;
  max-width: 95%;
}
@media (max-width: 1200px) {
  #banner .headers .description {
    text-align: center;
    font-size: 16px;
  }
}
#banner .none {
  display: flex;
}
#banner .offer-img {
  margin-top: 185px;
  max-width: 100%;
}
#banner .slogan {
  margin-top: -80px;
  margin-left: -35px;
}
#banner .menu-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: 96.15px;
}
#banner .menu-offer div {
  border: 2px solid var(--color-primary-contrast);
  border-radius: 50%;
  width: 70.87px;
  height: 70.87px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 22px;
  cursor: pointer;
  transition: 0.3s ease;
}
#banner .menu-offer div span {
  display: none;
  width: 100px;
}
#banner .menu-offer div img {
  width: 27px;
  transition: 0.3s ease;
  background-color: transparent;
  filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(351deg) brightness(100%) contrast(102%);
}
#banner .menu-offer div img #take-away {
  width: 10px;
  height: 10px;
}
#banner .menu-offer div .take-away-image {
  height: 31px;
}
#banner .menu-offer .active-menu-offer,
#banner .menu-offer div:hover {
  border: 4px solid var(--color-primary);
  width: 96.15px;
  height: 96.15px;
  position: relative;
}
#banner .menu-offer .active-menu-offer span,
#banner .menu-offer div:hover span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-medium);
  font-size: 12px;
  position: absolute;
  color: var(--color-primary);
  top: -40px;
  letter-spacing: 0.5px;
}
#banner .menu-offer .active-menu-offer span::after,
#banner .menu-offer div:hover span::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--color-primary) transparent transparent transparent;
  position: relative;
  top: 3px;
}
#banner .menu-offer .active-menu-offer img,
#banner .menu-offer div:hover img {
  width: 39px;
  filter: invert(91%) sepia(27%) saturate(4950%) hue-rotate(324deg) brightness(100%) contrast(75%);
}
#banner .menu-offer .active-menu-offer div,
#banner .menu-offer div:hover div {
  filter: invert(100%) sepia(28%) saturate(928%) hue-rotate(350deg) brightness(92%) contrast(100%);
  border-radius: 25%;
}

@media (max-width: 991px) {
  #banner {
    padding-bottom: 100px;
    background-image: url("/images/banner-mobile.jpg");
  }
  #banner .offer:first-child {
    margin-top: 120px;
  }
  #banner .text-align {
    text-align: center;
    padding-left: 0;
  }
  #banner .none {
    display: none;
  }
  #banner .description {
    margin: auto;
  }
  #banner .banner-carousel .owl-dots {
    bottom: -340px;
    left: 50%;
    transform: translateX(-50%);
  }
  #banner .banner-carousel .owl-nav {
    right: 50%;
    bottom: -345px;
    transform: translateX(50%);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #banner .banner-carousel .owl-nav button {
    margin: 0 70px;
  }
  #banner .social {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  #banner .menu-offer {
    height: 90px;
  }
  #banner .menu-offer div {
    width: 64px;
    height: 64px;
  }
  #banner .menu-offer div img {
    width: 25px;
  }
  #banner .menu-offer .active-menu-offer,
#banner .menu-offer div:hover {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 572px) {
  #banner .menu-offer {
    height: 64px;
  }
  #banner .menu-offer div {
    width: 48px;
    height: 48px;
    margin: 0 16px;
  }
  #banner .menu-offer div .take-away-image {
    height: 25px;
  }
  #banner .menu-offer .active-menu-offer,
#banner .menu-offer div:hover {
    width: 64px;
    height: 64px;
  }
  #banner .menu-offer .active-menu-offer span,
#banner .menu-offer div:hover span {
    top: -40px;
    width: 100px;
  }
  #banner .menu-offer .active-menu-offer img,
#banner .menu-offer div:hover img {
    width: 35px;
  }
}
@media (max-width: 450px) {
  #banner .menu-offer div {
    margin: 0 10px;
  }
  #banner .menu-offer div .take-away-image {
    height: 21px;
  }
  #banner .menu-offer .active-menu-offer,
#banner .menu-offer div:hover {
    border: 3px solid var(--color-primary);
  }
  #banner .banner-carousel .owl-nav {
    bottom: -320px;
  }
  #banner .banner-carousel .owl-dots {
    bottom: -315px;
  }
}
@media (max-width: 368px) {
  #banner .menu-offer div {
    margin: 0 7px;
  }
  #banner .offer:nth-child(2) {
    font-size: 17px;
  }
  #banner .offer:nth-child(2) span:nth-child(2) {
    font-size: 70px;
  }
  #banner .banner-carousel .owl-nav button {
    margin: 0 55px;
  }
}
@media (max-width: 340px) {
  #banner .menu-offer {
    padding: 0;
    height: 60px;
  }
  #banner .menu-offer div {
    width: 42px;
    height: 42px;
  }
  #banner .menu-offer .active-menu-offer,
#banner .menu-offer div:hover {
    width: 60px;
    height: 60px;
  }
}
#andouille {
  background-image: url("/images/background-andouille-first.png"), url("/images/background-andouille-second.png");
  background-repeat: no-repeat;
  background-position: 5% center, right bottom;
  padding-bottom: 80px;
}
#andouille .andouille-carousel {
  position: relative;
  top: -100px;
}
#andouille .andouille-carousel .owl-stage {
  padding: 10px;
}
#andouille .andouille-carousel .owl-nav {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
#andouille .andouille-carousel .owl-nav button {
  pointer-events: all;
}
#andouille .andouille-carousel .owl-nav button.owl-prev {
  position: relative;
  left: -10%;
}
#andouille .andouille-carousel .owl-nav button.owl-next {
  position: relative;
  right: -10%;
}
#andouille .andouille-carousel .owl-nav img {
  filter: invert(1);
}
#andouille .andouille-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
#andouille .andouille-carousel .owl-dots .owl-dot {
  margin-top: 30px;
}
#andouille .andouille-carousel .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}
#andouille .andouille-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--color-primary);
}
#andouille .andouille-carousel .owl-dots .active span {
  width: 17.99px;
  height: 8.99px;
  background-color: var(--color-primary);
}
#andouille .andouille-carousel .owl-dots button span {
  background-color: var(--color-secondary);
}
#andouille .andouille-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}
#andouille .card-offer {
  padding: 20px 30px;
  background-color: var(--color-primary-contrast);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 95%;
  margin: auto;
}
#andouille .card-offer .title {
  font-size: 14px;
  font-family: var(--font-extra-bold);
  margin-bottom: 20px;
}
#andouille .card-offer img {
  max-width: 100%;
  margin-bottom: 20px;
}
#andouille .card-offer .name {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: var(--font-extra-bold);
}
#andouille .card-offer .name span {
  color: var(--color-primary);
}
#andouille .card-offer .text {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: var(--font-regular);
}
#andouille .card-offer .price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#andouille .card-offer .price-container .promo {
  background-color: var(--color-tertiary);
  border-radius: 50%;
  width: 82px;
  height: 82px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#andouille .card-offer .price-container .promo::after {
  content: "";
  width: 65px;
  height: 65px;
  background-color: transparent;
  border: 1px solid var(--color-primary-contrast);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#andouille .card-offer .price-container .promo p {
  font-size: 22px;
  font-family: var(--font-ADLMounTiane);
  color: var(--color-primary-contrast);
  width: 50%;
  line-height: 15px;
  transform: rotateZ(-16deg);
}
#andouille .card-offer .price-container .price {
  font-size: 14px;
  font-family: var(--font-extra-bold);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-left: none;
  border-radius: 0 21px 21px 0;
  padding: 10px 20px;
}
#andouille .content-andouille {
  text-align: center;
  margin-top: -60px;
}
#andouille .content-andouille h1 {
  font-size: 36px;
  font-family: var(--font-bold);
}
#andouille .content-andouille p {
  margin: 30px auto 0;
  font-size: 18px;
  font-family: var(--font-regular);
  line-height: 32px;
  width: 40%;
  color: var(--color-tertiary-light);
}
#andouille .content-andouille .about-doppio {
  margin: 60px auto 0;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  transition: 350ms ease;
}
#andouille .content-andouille .about-doppio:hover {
  background-color: var(--color-tertiary);
}

@media (max-width: 1600px) {
  #andouille .content-andouille p {
    width: 50%;
  }
}
@media (max-width: 1300px) {
  #andouille .content-andouille p {
    width: 60%;
  }
}
@media (max-width: 991px) {
  #andouille {
    padding-bottom: 60px;
    background-position: -5% 57%, right 110%;
    background-size: 160px, 249px;
  }
  #andouille .andouille-carousel {
    top: 30px;
  }
  #andouille .andouille-carousel .owl-nav {
    position: relative;
    top: initial;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    pointer-events: none;
    margin-top: 30px;
    width: 200px;
  }
  #andouille .andouille-carousel .owl-nav button {
    pointer-events: all;
  }
  #andouille .andouille-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  #andouille .andouille-carousel .owl-nav button.owl-next {
    right: 0;
  }
  #andouille .andouille-carousel .owl-dots {
    position: relative;
    top: -59px;
    pointer-events: none;
  }
  #andouille .andouille-carousel .owl-dots button {
    pointer-events: all;
  }
  #andouille .content-andouille {
    margin-top: -25px;
  }
  #andouille .content-andouille h1 {
    font-size: 30px;
    max-width: 80%;
    margin: 55px auto 0;
  }
  #andouille .content-andouille p {
    font-size: 16px;
    line-height: 24px;
    width: 80%;
  }
  #andouille .content-andouille .about-doppio {
    margin: 50px auto 0;
  }
}
@media (max-width: 767px) {
  #andouille .content-andouille h1 {
    font-size: 24px;
    width: 80%;
  }
  #andouille .content-andouille p {
    font-size: 14px;
    width: 90%;
  }
}
#offer {
  position: relative;
}
#offer .container-offer {
  background-image: url("/images/background-offer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#offer .container-offer .content {
  margin: 185px auto 190px;
  margin-left: 40%;
}
#offer .container-offer .content .description {
  font-size: 20px;
  color: var(--color-primary-contrast);
  width: 80%;
}
#offer .container-offer .content .contact-us {
  margin-top: 40px;
  background-color: var(--color-primary-contrast);
  width: 175.99px;
  font-size: 13px;
  color: var(--color-secondary);
  padding: 10.5px 0 9px;
  transition: 350ms ease;
}
#offer .container-offer .content .contact-us:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
#offer .first-img {
  position: absolute;
  top: 195px;
  right: 30%;
}
#offer .second-img {
  position: absolute;
  top: -30px;
  right: 5%;
}
#offer .second-img .slogan {
  margin-right: 120px;
  margin-top: -55px;
}
#offer .email,
#offer .social {
  top: 37%;
}

@media (max-width: 1640px) {
  #offer .first-img {
    max-width: 455px;
    right: 20%;
  }
  #offer .second-img img {
    max-width: 554px;
  }
}
@media (max-width: 1509px) {
  #offer .container-offer .content .description {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  #offer .first-img {
    right: 10%;
  }
  #offer .second-img {
    right: 2%;
  }
  #offer .second-img img {
    max-width: 500px;
  }
}
@media (max-width: 991px) {
  #offer .container-offer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0;
  }
  #offer .container-offer .content .title-section .add-margin {
    display: flex;
    justify-content: center;
  }
  #offer .container-offer .content .description {
    text-align: center;
    font-size: 15px;
    width: 100%;
  }
  #offer .email {
    padding-bottom: 185px;
  }
  #offer .first-img {
    width: 555px;
    max-width: 90%;
    position: relative;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
  }
  #offer .second-img {
    top: initial;
    bottom: 80px;
    right: initial;
    width: 100%;
    left: 0;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #offer .second-img img {
    display: none;
  }
  #offer .second-img .slogan {
    margin: 0;
  }
  #offer .second-img .slogan p {
    color: var(--color-secondary);
  }
}
#partners {
  background-image: url("/images/background-partners.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -55px;
}
#partners #partners {
  padding-bottom: 10px;
}
#partners #partners .headers {
  padding-top: 145px;
}
#partners #partners .headers .heading .offer {
  font-size: 48px;
}
@media (max-width: 991px) {
  #partners #partners .headers .heading .offer {
    font-size: 30px;
  }
}
#partners #partners .headers .heading .different {
  font-size: 105px;
  text-align: center;
  display: block;
}
@media (max-width: 991px) {
  #partners #partners .headers .heading .different {
    font-size: 56px;
  }
}
#partners #partners .headers .description {
  margin-top: 30px;
  font-size: 20px;
  font-family: var(--font-regular);
  color: var(--color-primary-contrast);
}
@media (max-width: 991px) {
  #partners #partners .headers .description {
    font-size: 16px;
  }
}
#partners #partners .partners-carousel {
  margin: 90px 0;
}
@media (max-width: 991px) {
  #partners #partners .partners-carousel {
    margin: 30px 0;
  }
}
#partners #partners .partners-carousel .owl-dots {
  position: absolute;
  bottom: -33px;
  left: 7%;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  #partners #partners .partners-carousel .owl-dots {
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
  }
}
#partners #partners .partners-carousel .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}
#partners #partners .partners-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--color-primary);
}
#partners #partners .partners-carousel .owl-dots .active span {
  width: 17.99px;
  height: 8.99px;
  background-color: var(--color-primary);
}
#partners #partners .partners-carousel .owl-nav {
  position: absolute;
  right: 7%;
  pointer-events: none;
}
@media (max-width: 991px) {
  #partners #partners .partners-carousel .owl-nav {
    bottom: -69px;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
#partners #partners .partners-carousel .owl-nav button {
  margin: 0 10px;
  pointer-events: all;
}
@media (max-width: 991px) {
  #partners #partners .partners-carousel .owl-nav button {
    margin: 0 70px !important;
  }
}
#partners #partners .partners-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}
#partners #partners .container-partners .container-img {
  width: 57%;
  margin: auto;
}
#partners #partners .container-partners .container-img .content {
  width: 20%;
  display: flex;
  justify-content: center;
}
#partners #partners .container-partners svg {
  width: auto;
  max-width: 130px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(101%);
}
#partners #partners .social, #partners #partners .email {
  top: 37%;
}
@media (max-width: 991px) {
  #partners #partners .social {
    margin-top: 100px;
  }
}
@media (max-width: 1844px) {
  #partners #partners .container-partners .container-img {
    width: 67%;
  }
}
@media (max-width: 1200px) {
  #partners #partners .container-partners .container-img {
    width: 77%;
  }
}
@media (max-width: 991px) {
  #partners #partners .container-partners .container-img {
    width: 60%;
  }
  #partners #partners .container-partners .container-img .content {
    width: 50%;
  }
}
@media (max-width: 576px) {
  #partners #partners {
    background-image: url("/images/background-partners-mobile.jpg");
    background-position: center;
  }
  #partners #partners .container-partners .container-img {
    width: 100%;
  }
}

#reservation {
  background-image: url("/images/background-reservation-first.png"), url("/images/background-reservation-second.png");
  background-repeat: no-repeat;
  background-position: top 95px left 17%, top 160px right 17%;
  position: relative;
  z-index: 1;
}
#reservation input:-webkit-autofill,
#reservation input:-webkit-autofill:hover,
#reservation input:-webkit-autofill:focus,
#reservation textarea:-webkit-autofill,
#reservation textarea:-webkit-autofill:hover,
#reservation textarea:-webkit-autofill:focus,
#reservation select:-webkit-autofill,
#reservation select:-webkit-autofill:hover,
#reservation select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-primary-contrast);
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
@media (max-width: 1200px) {
  #reservation .slogan:nth-last-child(2) {
    display: none;
  }
  #reservation .slogan:last-child {
    right: 50% !important;
    transform: translateX(50%) rotate(0) !important;
    bottom: -2px !important;
    width: 100%;
    text-align: center;
  }
}
#reservation .title-section {
  margin: 200px auto 0;
  font-size: 48px;
}
@media (max-width: 1200px) {
  #reservation .title-section {
    margin: 20px auto 0;
  }
}
@media (max-width: 1200px) {
  #reservation .title-section {
    font-size: 30px;
  }
}
@media (max-width: 355px) {
  #reservation .title-section {
    font-size: 20px;
  }
}
#reservation .title-section .add-margin {
  margin-left: 70px;
  margin-top: -60px;
}
@media (max-width: 1509px) {
  #reservation .title-section .add-margin {
    margin-top: -35px;
  }
}
@media (max-width: 500px) {
  #reservation .title-section .add-margin {
    margin-left: 0;
  }
}
#reservation .title-section .add-margin .span-normal {
  color: var(--color-secondary);
}
#reservation .title-section .add-margin .span-adl {
  font-size: 105.44px;
}
@media (max-width: 1200px) {
  #reservation .title-section .add-margin .span-adl {
    font-size: 56px;
  }
}
@media (max-width: 355px) {
  #reservation .title-section .add-margin .span-adl {
    font-size: 46px;
  }
}
#reservation .reservation-form {
  max-width: 975px;
  width: 100%;
  background-color: var(--color-tertiary);
  margin-top: 15px;
  position: relative;
}
#reservation .reservation-form form {
  max-width: 60%;
  margin: auto;
  position: relative;
}
@media (max-width: 1200px) {
  #reservation .reservation-form form {
    max-width: 90%;
  }
}
#reservation .reservation-form .description {
  font-size: 18px;
  font-family: var(--font-regular);
  line-height: 32px;
  color: var(--color-primary-contrast);
  text-align: center;
  margin: 70px auto 20px;
  width: 65%;
}
#reservation .reservation-form .logo-final {
  position: absolute;
  top: 45px;
  max-width: 90%;
  pointer-events: none;
}
#reservation .reservation-form .input-container {
  position: relative;
  margin-top: 20px;
}
#reservation .reservation-form .input-container textarea {
  resize: none;
}
#reservation .reservation-form .input-container .input {
  color: var(--color-primary-contrast);
}
#reservation .reservation-form .input-container .input:focus {
  position: relative;
  z-index: 1;
}
#reservation .reservation-form .input-container #pnumber {
  -moz-appearance: textfield;
}
#reservation .reservation-form .input-container #pnumber::-webkit-inner-spin-button {
  display: none;
}
#reservation .reservation-form .input-container #pnumber::-webkit-outer-spin-button, #reservation .reservation-form .input-container #pnumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#reservation .reservation-form .input-container span {
  font-size: 14px;
  color: var(--color-tertiary-light);
  font-family: var(--font-regular);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: top 150ms ease-in-out, left 150ms ease-in-out;
  pointer-events: none;
}
#reservation .reservation-form .input-container.active-input span {
  top: 0;
  left: 5px;
  color: var(--color-primary-contrast);
  background-color: var(--color-tertiary);
}
#reservation .reservation-form .input-container.active-input .input {
  border-block-color: var(--color-primary);
}
#reservation .reservation-form .input-container .time-picker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.4s ease;
  height: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 2;
}
#reservation .reservation-form .input-container .time-picker .set-time {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#reservation .reservation-form .input-container .time-picker .label {
  width: 60px;
  margin: 0 5px;
  text-align: center;
  line-height: 34px;
  display: inline-style;
}
#reservation .reservation-form .input-container .time-picker .label a {
  display: block;
  border: 1px solid var(--color-tertiary-light);
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  border-radius: 3px;
}
#reservation .reservation-form .input-container .time-picker .label a:hover, #reservation .reservation-form .input-container .time-picker .label a:active {
  background-color: var(--color-tertiary-light);
  color: var(--color-primary-contrast);
}
#reservation .reservation-form .input-container .time-picker .label .set {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 34px;
  font-size: 20px;
  font-weight: bold;
  border: transparent;
  color: var(--color-secondary);
}
#reservation .reservation-form .input-container .time-picker #submitTime {
  text-align: center;
  line-height: 34px;
  border: 1px solid var(--color-tertiary);
  width: 128px;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 100%;
}
#reservation .reservation-form .input-container .time-picker #submitTime:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary-contrast);
}
#reservation .reservation-form .input-container .time-picker.open {
  padding: 15px;
  transition: all 0.5s ease;
  height: auto;
  background: var(--color-primary-contrast);
  border: 1px solid var(--color-primary);
}
#reservation .reservation-form .input-container .down-fill {
  fill: var(--color-primary-contrast);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
#reservation .reservation-form #input-timepicker {
  position: relative;
}
#reservation .reservation-form #input-timepicker .close-svg {
  display: none;
  fill: var(--color-primary);
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-65%);
  cursor: pointer;
  z-index: 1;
}
#reservation .reservation-form #input-timepicker .close-svg.active-svg {
  display: block;
}
#reservation .reservation-form .textarea-container span {
  top: 16px;
  transform: none;
}
#reservation .reservation-form .textarea-container.active-input span {
  top: -5px;
}
#reservation .reservation-form .reservation {
  background-color: var(--color-primary-contrast);
  color: var(--color-secondary);
  margin: 45px auto 75px;
  transition: 350ms ease;
  border: none;
}
#reservation .reservation-form .reservation:hover, #reservation .reservation-form .reservation.active-btn-reservation {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
#reservation .slogan {
  position: absolute;
  pointer-events: none;
}
#reservation .slogan p,
#reservation .slogan span {
  color: var(--color-tertiary-light);
}
#reservation .slogan:nth-last-child(2) {
  transform: rotate(-90deg);
  top: 230px;
  left: -2%;
}
#reservation .slogan:last-child {
  transform: rotate(90deg);
  bottom: 100px;
  right: -2%;
}
#reservation .ui-timepicker-list {
  max-height: 200px;
  overflow: auto;
  background-color: var(--color-secondary);
  color: var(--color-primary-contrast);
  font-size: 14px;
  font-family: var(--font-regular);
}
#reservation .ui-timepicker-list::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 991px) {
  #reservation #reservation {
    background: none;
  }
  #reservation #reservation .title-section {
    margin: 0 auto;
  }
  #reservation #reservation .slogan:nth-last-child(2) {
    left: -4%;
  }
  #reservation #reservation .slogan:last-child {
    right: -4%;
  }
}
@media (max-width: 767px) {
  #reservation #reservation .title-section {
    text-align: center;
    font-size: 30px;
  }
  #reservation #reservation .title-section .add-margin {
    margin-left: 0;
    margin-top: -35px;
  }
  #reservation #reservation .title-section .add-margin .span-adl {
    margin-left: 10px;
    font-size: 56px;
  }
  #reservation #reservation .reservation-form form {
    max-width: 90%;
  }
  #reservation #reservation .reservation-form .description {
    width: 90%;
    font-size: 14px;
    line-height: 24px;
  }
  #reservation #reservation .reservation-form .reservation {
    z-index: 1;
    position: relative;
  }
  #reservation #reservation .slogan:nth-last-child(2) {
    display: none;
    font-size: 87px;
  }
  #reservation #reservation .slogan:last-child {
    transform: initial;
    bottom: 17px;
    right: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #reservation #reservation .slogan p:nth-child(2) {
    margin-right: -90px;
  }
}
@media (max-width: 576px) {
  #reservation #reservation .reservation-form .description {
    margin: 50px auto 20px;
  }
  #reservation #reservation .reservation-form .input-container .time-picker.open {
    padding: 15px 5px;
  }
  #reservation #reservation .reservation-form .input-container .time-picker .label .set {
    padding: 0;
  }
}
@media (max-width: 360px) {
  #reservation #reservation .title-section {
    font-size: 23px;
  }
  #reservation #reservation .title-section .add-margin {
    margin-top: -28px;
  }
  #reservation #reservation .title-section .add-margin .span-adl {
    font-size: 52px;
  }
}

#menu {
  background-image: url("/images/background-menu-lg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -45px left 50%;
}
#menu .title-section {
  padding-top: 88px;
  text-align: center;
  display: flex;
  align-items: center;
}
#menu .title-section .add-margin .span-normal {
  color: var(--color-secondary);
}
#menu .description {
  font-size: 18px;
  font-family: var(--font-regular);
  color: var(--font-regular);
  width: 43%;
  margin: 0 auto;
  text-align: center;
  line-height: 32px;
}
#menu .description.second {
  margin-top: 60px;
  width: 44%;
}
#menu .item .title {
  font-size: 22px;
  font-family: var(--font-bold);
  margin-top: 10px;
  text-align: center;
  color: var(--color-secondary);
}
#menu .container-image {
  padding: 20px;
  position: relative;
  margin-top: 2px;
}
#menu .container-image img {
  max-width: 100%;
}
#menu .container-image::after {
  content: "";
  width: 100%;
  height: 88%;
  background-color: var(--color-primary-contrast);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.2);
}
#menu .carousel {
  width: 60%;
  margin: 60px auto 0;
}
#menu .menu-carousel {
  position: relative;
}
#menu .menu-carousel .owl-nav {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
#menu .menu-carousel .owl-nav button {
  pointer-events: all;
}
#menu .menu-carousel .owl-nav button.owl-prev {
  position: relative;
  left: -10%;
}
#menu .menu-carousel .owl-nav button.owl-next {
  position: relative;
  right: -10%;
}
#menu .menu-carousel .owl-nav img {
  filter: invert(1);
}
#menu .menu-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu .menu-carousel .owl-dots .owl-dot {
  margin-top: 30px;
}
#menu .menu-carousel .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}
#menu .menu-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--color-primary);
}
#menu .menu-carousel .owl-dots .active span {
  width: 17.99px;
  height: 8.99px;
  background-color: var(--color-primary);
}
#menu .menu-carousel .owl-dots button span {
  background-color: var(--color-secondary);
}
#menu .menu-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}
#menu .btn {
  display: flex;
  justify-content: center;
  margin: 60px 0 90px;
}
#menu .btn .menu {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  transition: 350ms ease;
}
#menu .btn .menu:hover {
  background-color: var(--color-tertiary);
}

@media (max-width: 1399px) {
  #menu .container-image::after {
    height: 94%;
  }
}
@media (max-width: 991px) {
  #menu {
    background-image: url("/images/background-menu.png");
    background-size: auto;
    background-position: top -10px left;
  }
  #menu .title-section {
    padding-top: 60px;
  }
  #menu .description {
    font-size: 14px;
    line-height: 24px;
    width: 70%;
  }
  #menu .description.second {
    width: 69%;
  }
  #menu .carousel {
    width: 80%;
  }
  #menu .menu-carousel {
    top: 30px;
  }
  #menu .menu-carousel .owl-nav {
    position: relative;
    top: initial;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    pointer-events: none;
    margin-top: 30px;
    width: 200px;
  }
  #menu .menu-carousel .owl-nav button {
    pointer-events: all;
  }
  #menu .menu-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  #menu .menu-carousel .owl-nav button.owl-next {
    right: 0;
  }
  #menu .menu-carousel .owl-dots {
    position: relative;
    top: -59px;
    pointer-events: none;
  }
  #menu .menu-carousel .owl-dots button {
    pointer-events: all;
  }
}
@media (max-width: 767px) {
  #menu .item .title {
    font-size: 18px;
  }
  #menu .carousel {
    width: 95%;
  }
  #menu .description.second {
    margin-top: 30px;
  }
  #menu .btn {
    margin: 30px auto 60px;
  }
  #menu .container-image {
    padding: 10px;
  }
}
@media (max-width: 575px) {
  #menu .description {
    width: 95%;
  }
  #menu .description.second {
    width: 94%;
  }
  #menu .carousel {
    margin: 20px auto 0;
  }
  #menu .container-image::after {
    height: 90%;
  }
}
@media (max-width: 390px) {
  #menu .title-section {
    font-size: 22px;
  }
  #menu .title-section .add-margin {
    margin-top: -30px;
  }
  #menu .title-section .add-margin .span-adl {
    font-size: 49px;
    margin-left: 10px;
  }
  #menu .description {
    width: 100%;
    font-size: 14px;
  }
  #menu .description.second {
    width: 94%;
    font-size: 14px;
  }
}
#events {
  background-image: url("/images/background-events.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 77px 0;
  position: relative;
}
#events .title-section {
  text-align: center;
}
#events .title-section .add-margin {
  display: flex;
  justify-content: center;
}
#events .content {
  margin-top: 100px;
}
#events .content .image {
  position: absolute;
  left: 12%;
  width: 45%;
}
#events .content .image img {
  max-width: 100%;
}
#events .content .image .slogan {
  position: absolute;
  top: -70px;
  left: 50px;
}
#events .content #counter {
  font-size: 105.44px;
  font-family: var(--font-ADLMounTiane);
  color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 50%;
}
#events .content .card {
  background-color: transparent;
  width: 480px;
  max-width: 100%;
  height: 100%;
  min-height: 452px;
  background-image: url("/images/events-card-image.png");
  background-size: cover;
}
#events .content .card .title-section {
  font-size: 30px;
  text-align: start;
  margin: 60px 20% 40px;
}
#events .content .card .title-section .add-margin {
  margin-top: -40px;
  justify-content: flex-start;
}
#events .content .card .title-section .add-margin .span-adl {
  font-size: 72px;
}
#events .content .card .content-card {
  margin: 0 auto;
  width: 61%;
}
#events .content .card .content-card p {
  font-size: 18px;
  font-family: var(--font-regular);
  color: var(--color-primary-contrast);
  margin: 7.5px;
}
#events .content .card .content-card p span {
  font-family: var(--font-bold);
  color: var(--color-primary);
}
#events .count {
  font-size: 105.44px;
  font-family: var(--font-ADLMounTiane);
  color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 50%;
}
#events .events-carousel {
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}
#events .events-carousel .owl-stage-outer {
  width: 42%;
  margin-right: 0;
  pointer-events: all;
}
#events .events-carousel .owl-dots {
  position: absolute;
  bottom: -33px;
  left: 7%;
  display: flex;
  align-items: center;
  pointer-events: all;
}
#events .events-carousel .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}
#events .events-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--color-primary);
}
#events .events-carousel .owl-dots .active span {
  width: 17.99px;
  height: 8.99px;
  background-color: var(--color-primary);
}
#events .events-carousel .owl-nav {
  position: absolute;
  right: 7%;
  pointer-events: none;
  bottom: -37px;
  pointer-events: all;
}
#events .events-carousel .owl-nav button {
  margin: 0 10px;
  pointer-events: all;
}
#events .events-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}
#events .social,
#events .email {
  top: 45%;
  z-index: 1;
}

@media (max-width: 1199px) {
  #events {
    padding: 50px 0 170px;
  }
  #events .content {
    margin-top: 55px;
  }
  #events .content .card {
    background-image: none;
    background-color: var(--color-tertiary);
    width: 80%;
    margin: auto;
    min-height: 380px;
  }
  #events .events-carousel .owl-stage-outer {
    width: initial;
    margin-right: initial;
  }
  #events .events-carousel .owl-stage-outer .item {
    margin: auto;
  }
  #events .events-carousel .owl-dots {
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
  }
  #events .events-carousel .owl-nav {
    bottom: -69px;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #events .events-carousel .owl-nav button {
    margin: 0 70px;
  }

  .image-mobile {
    width: 100%;
    position: relative;
    margin-top: -50px;
    display: flex;
    justify-content: center;
  }
  .image-mobile img {
    width: 60%;
    height: 100%;
  }
  .image-mobile .slogan {
    position: absolute;
    top: initial;
    bottom: -55px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-mobile .slogan p {
    color: var(--color-secondary);
  }
}
@media (max-width: 991px) {
  #events .content {
    margin-top: 50px;
  }
  #events .content .card {
    width: 95%;
  }
  #events .social,
#events .email {
    top: 45px;
  }
}
@media (max-width: 576px) {
  #events .content .card {
    padding: 0 5%;
  }
  #events .content .card .title-section {
    margin: 60px 0 40px;
  }
  #events .content .card .content-card {
    width: 100%;
  }
  #events .content .card .title-section {
    font-size: 20px;
    padding-left: 5px;
  }
  #events .content .card .title-section .add-margin {
    margin-top: -23px;
  }
  #events .content .card .title-section .add-margin .span-adl {
    font-size: 40px;
    margin-left: 9px;
  }

  .image-mobile img {
    width: 90%;
  }
}
@media (max-width: 356px) {
  #events .title-section {
    font-size: 24px;
  }
}
#social-media {
  position: relative;
}
#social-media::before {
  content: "";
  position: absolute;
  background-image: url("/images/social-media-image.png");
  background-repeat: no-repeat;
  max-width: 432px;
  width: 100%;
  max-height: 351px;
  height: 100%;
  right: 143px;
  z-index: -1;
  top: -48px;
}
@media (max-width: 991px) {
  #social-media::before {
    background-image: url("/images/social-media-image-mobile.png");
    max-width: 145px;
    height: 147px;
    right: 0;
  }
}

#blog {
  background-image: url("/images/background-andouille-first.png"), url("/images/background-blog-second.png");
  background-repeat: no-repeat;
  background-size: 310px, 360px;
  background-position: top 400px left 1%, top 200px right 7%;
}
#blog .logo {
  padding: 95px 0 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#blog .logo .logo-image {
  margin-bottom: 40px;
  width: 215px;
  max-width: 100%;
  filter: invert(35%) sepia(26%) saturate(853%) hue-rotate(352deg) brightness(90%) contrast(89%);
}
#blog .logo .background-image {
  filter: invert(1);
  position: absolute;
  width: 930px;
  max-width: 90%;
  top: 130px;
  pointer-events: none;
}
#blog .logo .description {
  font-size: 18px;
  line-height: 32px;
  font-family: var(--font-regular);
  width: 34%;
  text-align: center;
}
#blog .title-section {
  margin-left: 20%;
  margin-bottom: 50px;
}
#blog .title-section .first {
  font-size: 70px;
}
#blog .title-section .add-margin {
  margin-top: -57px;
}
#blog .title-section .add-margin .span-adl {
  font-size: 141.73px;
  margin-top: -35px;
}
#blog .blog-carousel {
  width: 80%;
}
#blog .blog-carousel .owl-dots {
  position: absolute;
  bottom: 60px;
  left: 8%;
  display: flex;
  align-items: center;
}
#blog .blog-carousel .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
}
#blog .blog-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--color-primary);
}
#blog .blog-carousel .owl-dots .active span {
  width: 17.99px;
  height: 8.99px;
  background-color: var(--color-primary);
}
#blog .blog-carousel .owl-nav {
  position: absolute;
  right: 8%;
  bottom: 56px;
  pointer-events: none;
}
#blog .blog-carousel .owl-nav button {
  margin: 0 10px;
  pointer-events: all;
}
#blog .blog-carousel .owl-nav button img {
  filter: invert(1);
}
#blog .blog-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}
#blog .container-card {
  position: relative;
}
#blog .card-blog {
  background-color: var(--color-quaternary);
  padding: 140px 0 260px 20%;
}
#blog .card-blog .title {
  font-size: 36px;
  font-family: var(--font-black);
  line-height: 48px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#blog .card-blog .title img {
  position: absolute;
  bottom: -5px;
  left: 440px;
  width: 138px;
  max-width: 100%;
  pointer-events: none;
}
#blog .card-blog .name {
  font-size: 16px;
  font-family: var(--font-extra-bold);
  line-height: 28px;
  margin-top: 30px;
}
#blog .card-blog .name span:not(:first-child) {
  font-family: var(--font-bold);
}
#blog .card-blog .name span:nth-child(2) {
  margin-left: 10px;
}
#blog .card-blog .description {
  margin-top: 60px;
  font-size: 20px;
  font-family: var(--font-regular);
  line-height: 32px;
  width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#blog .blog {
  margin-top: 65px;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  transition: 350ms ease;
  position: absolute;
  bottom: 160px;
  z-index: 1;
  left: 16%;
}
#blog .blog:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
#blog .image-blog {
  position: absolute;
  top: 45px;
  right: 5%;
  z-index: 1;
  width: 40%;
}
#blog .image-blog img {
  max-width: 100%;
}
#blog .image-blog .slogan {
  position: absolute;
  bottom: -60px;
  left: 50%;
}
#blog .image-blog .slogan p {
  color: var(--color-secondary);
}

@media (max-width: 1400px) {
  #blog .image-blog {
    width: 35%;
  }
}
@media (max-width: 1250px) {
  #blog .image-blog {
    width: 33%;
  }
}
@media (max-width: 1199px) {
  #blog {
    background-size: 144px, 266px;
    background-position: top 400px left -7%, top 270px right -20%;
  }
  #blog .logo {
    padding: 130px 0 70px;
  }
  #blog .logo .logo-image {
    width: 164px;
    margin-bottom: 35px;
  }
  #blog .logo .background-image {
    width: 600px;
    top: 170px;
  }
  #blog .logo .description {
    font-size: 14px;
    line-height: 24px;
    width: 50%;
  }
  #blog .title-section {
    margin: 0 auto 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  #blog .title-section .first {
    font-size: 40px;
  }
  #blog .title-section .add-margin {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
  }
  #blog .title-section .add-margin .span-adl {
    font-size: 72px;
    margin-top: -48px;
    margin-left: 0;
  }
  #blog .blog-carousel {
    width: initial;
  }
  #blog .blog-carousel .owl-dots {
    bottom: initial;
    left: 15%;
    top: 415px;
  }
  #blog .blog-carousel .owl-nav {
    left: 10%;
    right: initial;
    width: 200px;
    display: flex;
    justify-content: space-between;
    bottom: initial;
    top: 400px;
  }
  #blog .card-blog {
    padding: 60px 10% 385px;
  }
  #blog .card-blog .title {
    font-size: 21px;
    line-height: 29px;
  }
  #blog .card-blog .title img {
    left: 202px;
    bottom: -10px;
  }
  #blog .card-blog .name {
    font-size: 14px;
    margin-top: 25px;
  }
  #blog .card-blog .description {
    margin-top: 25px;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
  }
  #blog .blog {
    left: 10%;
    bottom: initial;
    top: 250px;
  }
  #blog .image-blog {
    width: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: -200px;
  }
  #blog .image-blog img {
    width: 640px;
    max-width: 90%;
    height: 100%;
  }
  #blog .image-blog .slogan {
    transform: translateX(-50%);
  }
}
@media (max-width: 991px) {
  #blog .blog-carousel .owl-dots {
    left: 16%;
  }
}
@media (max-width: 767px) {
  #blog .logo .description {
    width: 70%;
  }
  #blog .blog-carousel .owl-dots {
    left: 17.5%;
  }
}
@media (max-width: 667px) {
  #blog .blog-carousel .owl-dots {
    left: 18.5%;
  }
}
@media (max-width: 576px) {
  #blog .logo .description {
    width: 91%;
  }
  #blog .card-blog {
    padding: 60px 5% 385px;
  }
  #blog .blog {
    left: 5%;
  }
  #blog .blog-carousel .owl-nav {
    left: 5%;
  }
  #blog .blog-carousel .owl-dots {
    left: 14.5%;
  }
}
@media (max-width: 576px) and (max-width: 520px) {
  #blog .blog-carousel .owl-dots {
    left: 16%;
  }
}
@media (max-width: 576px) and (max-width: 467px) {
  #blog .blog-carousel .owl-dots {
    left: 17%;
  }
}
@media (max-width: 576px) and (max-width: 420px) {
  #blog .blog-carousel .owl-dots {
    left: 18%;
  }
}
@media (max-width: 576px) and (max-width: 385px) {
  #blog .blog-carousel .owl-dots {
    left: 19%;
  }
}
@media (max-width: 576px) and (max-width: 360px) {
  #blog .blog-carousel .owl-dots {
    left: 20%;
  }
}
@media (max-width: 576px) and (max-width: 350px) {
  #blog .blog-carousel .owl-dots {
    left: 21%;
  }
}
@media (max-width: 576px) and (max-width: 385px) {
  #blog .blog-carousel .owl-dots {
    left: 22%;
  }
}
@media (max-width: 475px) {
  #blog .image-blog .slogan {
    bottom: -40px;
  }
  #blog .image-blog .slogan p:first-child {
    font-size: 64px;
  }
  #blog .image-blog .slogan p:nth-child(2) {
    margin-top: -30px;
  }
}
@media (max-width: 390px) {
  #blog .title-section {
    font-size: 36px;
  }
  #blog .title-section .first {
    font-size: 36px;
  }
  #blog .title-section .add-margin .span-adl {
    font-size: 68px;
    margin-top: -44px;
  }
}
@media (max-width: 350px) {
  #blog .card-blog .title {
    font-size: 19px;
  }
  #blog .card-blog .title img {
    left: 183px;
  }
}
