.main-button{
    background-color: var(--color-primary);
    max-width: 181px;
    width: 100%;
    color: var(--white-color);
    height: 40px;
    text-transform: uppercase;
    transition: all .7s ease;
    &:hover{
        color: var(--color-primary);
        background-color: var(--white-color);
        border: 1px solid var(--color-primary);
    }
    @media(max-width: 991px){
        max-width: 237px;
    }


}
